img{
	width: 100%;
	border-radius: 10px;
}

#background{
	background-color: #C5CAE9;
}

.container{
	width: 80%;
}

.body{
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.btn{
	width: 50%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;	
	font-size: 14px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
}
.vertical-space{
	height: 25px;
}

